.productsdisplay{
    display: flex;
    margin: 0px 100px;

}
.productLeft{
    display: flex;
    gap: 17px;
}
.productImg{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.productImg img{
    height: 163px;
}
.productImgMain{
    width: 586px;
    height: 700px;

}
.productRight{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productRight h1{
    color:#3d3d3d;
    font-size: 20px;
    font-weight: 700;
}
.productDisplayRightStart{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.displayrightPrices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.priceOLd{
    color: #818181;
    text-decoration: line-through;
}
.priceNewOld{
    color: #ff4141;
}
.productDisplay h1{
    margin-top: 45px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.Size{
    display: flex;
    margin: 20px 0px;
    gap: 10px;
}
.Size div{
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.productDisplay button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background:#ff4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;

}
.productCategory span{
    font-weight: 600;

}